<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>
        Elenco dei Corsi
    </title>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li>Pagina 1</li>
                <li>Pagina 2</li>
                <li>Pagina 3</li>
                <li>Pagina 4</li>
                <li>Pagina 5</li>
            </ul>
        </nav>
    </header>
    <h1>
        Sono la View per l'Action "Index" del CourseController
    </h1>
    <footer>
        Contattaci al numero 123
    </footer>
</body>
</html>

